html,
* {
	margin: 0;
	padding: 0;
	--primary: #213e86;
	--third: #0f172a;
	--ters: #f1f5f9;
	--dark: #000000;
	--secondary: #64748b;
	--light: #ffffff;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	background-color: var(--light);
	font-family: "Fira-Code", sans-serif;
	overflow-x: hidden;
}

header .logo img {
	width: 270px;

	margin-left: 120px;
}

nav {
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	font-size: 19px;
}
.navbar-fixed {
	position: fixed;
	z-index: 9999;
	background-color: rgba(255, 255, 255, 0.14);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(6px);
	opacity: 0.9;
	box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.192);
	width: 100%;
}

nav ul {
	display: flex;
	width: 50%;
	list-style: none;
	justify-content: space-evenly;
	position: absolute;
	right: 20px;
}

nav ul li a {
	color: var(--dark);
	text-decoration: none;
	font-size: 0.9em;
	border-bottom: 2px transparent;
}

nav ul li a:hover {
	color: var(--primary);
}

.menu-toggle {
	height: 20px;
	position: relative;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	z-index: 9;
}

.menu-toggle input {
	position: absolute;
	width: 85px;
	height: 27px;
	top: -2px;
	left: -30px;
	opacity: 0;
	cursor: pointer;
	z-index: 1;
	background-color: var(--secondary);
}

.menu-toggle span {
	display: block;
	background-color: var(--dark);
	width: 28px;
	height: 3px;
	border-radius: 100px;
	transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
	transform: rotate(45deg) translate(-1px, -1px);
	background-color: var(--dark);
}

.menu-toggle input:checked ~ span:nth-child(4) {
	background-color: var(--dark);
	transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
	transform: scale(0);
	opacity: 0;
}

.hero {
	padding-top: 10px;
}
.hero-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 500px;
	width: 100%;
	padding: 10px 150px;
}

.greeting-hero {
	display: grid;
	place-content: center;
}
.greeting-hero h1 {
	display: block;
	width: 300px;
	color: var(--primary);
}
.greeting-hero h3 {
	font-size: 1.6em;
	letter-spacing: 2px;
	font-weight: 500;
}

.greeting-hero span {
	display: block;
	font-size: 2.1em;
	color: var(--dark);
	white-space: nowrap;
}
.greeting-hero p {
	padding: 10px 0;
	font-weight: 300;
	font-size: 1.1em;
}
.greeting-hero button {
	margin: 40px 0px;
	width: 180px;
	height: 46px;
	border-radius: 30px;
	border: none;
	font-size: 1.1em;
	font-weight: 600;
	color: var(--light);
	background-color: var(--primary);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.41);
}
.greeting-hero button:hover {
	background-color: var(--primary);
	opacity: 0.9;
	color: var(--light);
}
.image-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 60px;
	flex-direction: column;
}
.image-hero a {
	font-size: 0.7em;
	padding: 8px;
	white-space: nowrap;
	text-decoration: none;
	color: #000000;
}
.image-hero img {
	width: 300px;
	filter: drop-shadow(5px 5px 0.3em rgba(0, 0, 0, 0.447));
}

.card-container {
	padding-top: 40px;

	width: 100%;
	height: 450px;
	display: grid;
	grid-template-columns: 1fr 1fr;

	background-color: var(--ters);
	overflow: hidden;
}
.card-container .wrapping {
	padding: 70px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	color: #7c7676;
}

.card-container .wrapping h2 {
	letter-spacing: 5px;
	font-size: 2.1em;
	white-space: nowrap;
	color: var(--primary);
}
.card-container .wrapping h3 {
	font-size: 1.5em;
}
.card-container .wrapping p {
	font-size: 17px;
	line-height: 1.5em;
	text-shadow: none;
}
.group {
	display: flex;
	flex-direction: column;
	width: auto;
	margin-left: 70px;
	height: 100%;
}

.cage-card {
	display: grid;
	grid-auto-flow: column;
	width: 16%;
	height: 80%;
	padding-left: 50px;
	padding-right: 50px;
	overflow-x: scroll;
	gap: 50px;
	align-content: center;
}

.cage-card::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 10px;
}

.arrow {
	display: flex;
	justify-content: end;
	width: 15%;
	gap: 10px;
}
.left {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid #2e3d91;
}

.left:hover {
	opacity: 0.7;
}
.right {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid #2e3d91;
}
.right:hover {
	opacity: 0.7;
}

.arrow-right {
	height: 10px;
	width: 10px;
	border-style: solid;
	border-bottom: 110px;
	border-left: 100px;
	border-color: var(--primary);
	transform: rotate(45deg);
}
.arrow-left {
	height: 10px;
	width: 10px;
	border-style: solid;
	border-top: 20px;
	border-right: 20px;
	border-color: var(--primary);
	transform: rotate(45deg);
}
.card {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.115);
	transition: 0.3s;
	border-radius: 10px;
	background-color: var(--light);
	overflow: hidden;
	margin: 10px 10px;
	width: 90vmin;
	height: 33vmin;
	box-sizing: border-box;
}

.card .header {
	margin: auto;
	box-sizing: border-box;
}
.card .header img {
	display: block;
	margin: auto auto;
	box-sizing: border-box;
	width: 90%;
	height: 100%;
	border-radius: 5px;
}

.card .content {
	padding: 40px 20px;
	display: flex;
	gap: 8px;
	flex-direction: column;
	line-height: 1.5em;
	color: var(--secondary);
}
.card .content > h5 {
	color: var(--primary);
	border: none;
	opacity: 0.7;
}
.card .content > button {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	align-items: center;
	margin-right: 40px;
	margin-top: 10px;
	color: var(--primary);
	width: 80px;
	height: 27px;
	background-color: var(--light);
	border-radius: 7px;
	border: 1px solid #213e86;
}
.card .content button:hover {
	background-color: var(--primary);
	color: var(--light);
}
.card .content p {
	font-size: 0.9em;
	color: var(--secondary);
}
.card .content h2 {
	color: var(--primary);
}

.about {
	padding-top: 6px;
	padding-bottom: 50px;
}
.about-container {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	place-content: center;

	width: 100%;
	height: 400px;

	gap: 15px;
}
.about-left,
.about-right {
	display: grid;
	place-content: center;
	padding: 20px 20px;
	gap: 20px;
}
.about-left h4 {
	font-size: 1.1em;
	font-weight: 600;
	color: var(--primary);
	text-transform: uppercase;
}
.about-left h2 {
	font-size: 2.2em;
	color: var(--dark);
}

.about-left p,
.about-right p {
	font-size: 1em;
	line-height: 1.4em;

	letter-spacing: 1px;
	color: #7a8594;
}
.about-right h3 {
	margin-top: 1.8em;
	font-size: 2em;
	padding: 10px 0;
	color: #000000;
	font-weight: bold;
}

.about-right-icon {
	display: flex;
	align-items: center;
	gap: 2px;
}

.about-icon {
	width: 35px;
	height: 35px;
	margin-right: 3px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px #64748b;

	fill: var(--secondary);
}
.about-icon:hover {
	border: var(--secondary);
	background-color: var(--primary);
	fill: var(--light);
	transition: ease-in 700ms;
}

.trusted {
	width: 100%;
	height: 400px;

	padding: 40px 0;
	background-color: var(--ters);
}
.typography {
	text-align: center;
	line-height: 2em;
	padding-bottom: 10px;
}
.container-trusted {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.typography h2 {
	color: var(--primary);
	font-size: 1.9em;
	padding-bottom: 20px;
	font-weight: 300;
}
.typography p {
	align-items: center;
	color: var(--dark);
	font-size: 1em;
	letter-spacing: 1px;
	width: 100%;
	margin: auto;
	text-align: center;
	font-weight: lighter;
	line-height: 1.3em;
}

.content-trusted {
	display: flex;
	width: 60%;
	height: auto;
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
	padding-top: 50px;
}
.content-trusted img {
	width: 48px;
	height: 60px;
	filter: grayscale(100%);
	opacity: 0.5;
}
.content-trusted img:hover {
	filter: grayscale(0%);
	opacity: 2;
	transition: ease-in 0.3s;
}

.display-accordion {
	padding-top: 100px;
	padding-bottom: 70px;
}

.accordion-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	height: 500px;
	padding: 67px;
}

.left-accordion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.accordion {
	background-color: var(--ters);
	color: var(--primary);
	cursor: pointer;
	padding: 18px;
	width: 80%;
	border: none;
	text-align: justify;
	text-transform: capitalize;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	font-size: 1.3em;
}

.active,
.accordion:hover {
	background-color: var(--primary);
	color: var(--ters);
}

.accordion:after {
	content: "\002B";
	color: var(--secondary);
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	width: 80%;
	padding: 0px 18px;
	background-color: var(--ters);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.panel p {
	padding: 20px;
	line-height: 1.5em;
}
.right-image {
	display: flex;
	align-items: center;
	justify-content: center;
}
.right-image img {
	width: 290px;
	filter: drop-shadow(5px 5px 0.3em rgba(0, 0, 0, 0.447));
}

footer {
	padding-top: 20px;
}
.footer-container {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	width: 100%;

	padding: 80px 150px;
	gap: 150px;
	background-color: #0f172a;
}

.group-article h3::before,
.link-section h3::before {
	content: " ";
	white-space: pre;
	border-left: 5px solid;
	border-color: var(--primary);
}

.person-info p {
	line-height: 1.4em;
	padding-left: 10px;
	text-align: justify;
}

.person-info h2 {
	font-weight: bold;
	white-space: nowrap;
	font-size: 2.3em;
	margin-bottom: 10px;
	color: var(--primary);
	padding-left: 10px;
}
.person-info h3:hover {
	color: var(--primary);
	transition: ease-in-out 300ms;
}
.group-article,
.link-section,
.person-info {
	display: grid;

	flex-wrap: wrap;

	color: var(--secondary);
}

.group-article h3,
.link-section h3,
.person-info h3 {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 10px;
	color: var(--light);
	padding-left: 10px;
	white-space: nowrap;
}

.link-section ul,
li,
a {
	text-decoration: none;
	list-style-type: none;
	color: var(--secondary);
	padding: 5px;
}

ul,
li,
a:hover {
	color: var(--light);
	transition: ease-in-out 300ms;
}
.link-section {
}
.wrapper {
	width: 100%;
	background-color: var(--third);
}
.logo-footer {
	width: 80%;
	display: flex;
	border-top: 1px solid;
	border-color: var(--secondary);
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	margin: auto;
	gap: 10px;
}
.logo-footer img {
	width: 300px;
}
.logo-footer p {
	width: 100%;
	color: var(--light);
	text-align: center;
}
.logo-footer span {
	color: var(--primary);
	text-align: center;
}

.slider {
	position: relative;

	margin-top: 20px;
	right: 0;
	width: 100%;
	height: 70%;
	overflow: hidden;

	transition: all ease 200ms;
}
.slider-inner {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
	grid-auto-flow: column;
	gap: 5px;
	pointer-events: none;
}
@media screen and (max-width: 921px) {
	nav ul {
		width: 40%;
	}
	header .logo img {
		margin-left: 60px;
	}
	.prev,
	.next,
	.text {
		font-size: 11px;
	}
	.text {
		bottom: 8px;
	}

	.hero-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		justify-items: center;
		width: 95%;
		height: 100%;
		padding: 50px 0px;
	}

	.greeting-hero {
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 100%;
	}
	.greeting-hero h1 {
		display: block;
		max-width: 300px;
		color: var(--primary);
		font-size: 1.4em;
	}
	.greeting-hero h3 {
		font-size: 1.2em;
		letter-spacing: 2px;
		font-weight: 500;
	}

	.greeting-hero span {
		display: block;
		font-size: 2.1em;
		color: var(--dark);
		white-space: nowrap;
	}
	.greeting-hero p {
		padding: 10px 0;
		font-weight: 300;
		font-size: 2.5vmin;
	}
	.greeting-hero button {
		margin: 10px 0px;
		width: 180px;
		height: 46px;
		border-radius: 30px;
		border: none;
		font-size: 1.1em;
		font-weight: 600;
		color: var(--light);
		background-color: var(--primary);
		box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.41);
	}
	.greeting-hero button:hover {
		background-color: var(--primary);
		opacity: 0.9;
		color: var(--light);
	}
	.image-hero {
		display: flex;
		margin: 60px 0px;
		flex-direction: column;
	}
	.image-hero a {
		font-size: 0.7em;
		padding: 9px 0;
		white-space: nowrap;
		text-decoration: none;
		color: #000000;
	}
	.image-hero img {
		filter: drop-shadow(5px 5px 0.3em rgba(0, 0, 0, 0.447));
	}

	.about-container {
		display: flex;
		flex-direction: column;
		padding: 70px;
		box-sizing: border-box;
	}
	.about-left,
	.about-right {
		display: grid;
		place-content: center;
		padding: 0px 0px;
		gap: 15px;
	}
	.about-right h3 {
		margin-top: 0.8em;
		padding: 1px 0;
	}
	.card-container {
		display: flex;
		flex-direction: column;
		padding-top: 10px;
		padding-bottom: 0px;
		height: 600px;
		width: 100%;
	}

	.group {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin-left: 0px;
	}
	.arrow {
		width: 70%;
	}

	.card-container .wrapping {
		margin: 0px 40px;
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 10px;
		color: #7c7676;
	}
	.cage-card {
		width: 100%;
		padding-left: 200px;
		padding-right: 150px;
	}
	.slider {
		width: 100%;
		height: 100%;
	}

	.container-trusted {
		padding-top: 20px;
	}
	.services {
		box-sizing: border-box;
		padding: 20px 30px;
		text-align: center;
	}

	.pembungkus {
		flex-direction: column;
	}
	.avatar-container {
		background-size: cover;
	}

	.footer-container {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		gap: 80px;
		padding: 80px 0px;
	}
}

@media screen and (max-width: 576px) {
	header .logo img {
		/* margin-bottom: 37px; */
		margin-left: 10px;
	}
	.menu {
		order: 1;
		justify-items: end;
		margin-right: 50px;
	}
	.menu-toggle {
		display: flex;
		z-index: 9;
	}

	nav ul {
		position: absolute;
		top: 0;
		width: 80%;
		height: 100vh;
		right: 0;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		z-index: 4;
		background-color: #eaeaea;
		transform: translateX(100%);
		transition: all 1s;
		opacity: 0;
	}

	nav ul.slide {
		opacity: 1;
		transform: translateX(0);
		overflow: hidden;
	}

	.hero-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		justify-items: center;
		width: 95%;
		height: 100%;
		padding: 50px 0px;
	}

	.greeting-hero {
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 100%;
	}
	.greeting-hero h1 {
		display: block;
		max-width: 300px;
		color: var(--primary);
		font-size: 1.1em;
	}
	.greeting-hero h3 {
		font-size: 1.2em;
		letter-spacing: 2px;
		font-weight: 500;
	}

	.greeting-hero span {
		display: block;
		font-size: 2.1em;
		color: var(--dark);
		white-space: nowrap;
	}
	.greeting-hero p {
		padding: 10px 0;
		font-weight: 300;
		font-size: 2.5vmin;
	}
	.greeting-hero button {
		margin: 10px 0px;
		width: 180px;
		height: 46px;
		border-radius: 30px;
		border: none;
		font-size: 1.1em;
		font-weight: 600;
		color: var(--light);
		background-color: var(--primary);
		box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.41);
	}
	.greeting-hero button:hover {
		background-color: var(--primary);
		opacity: 0.9;
		color: var(--light);
	}
	.image-hero {
		display: flex;
		margin: 60px 0px;
		flex-direction: column;
	}
	.image-hero a {
		font-size: 0.7em;
		padding: 9px 0;
		white-space: nowrap;
		text-decoration: none;
		color: #000000;
	}
	.image-hero img {
		margin-right: 100px;
		filter: drop-shadow(5px 5px 0.3em rgba(0, 0, 0, 0.447));
	}

	.about {
		padding-top: 96px;
		padding-bottom: 50px;
	}
	.about-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		width: 100%;
		height: 600px;
		padding: 4em 1.5em;
		gap: 15px;
	}
	.about-left,
	.about-right {
		display: grid;
		place-content: center;
		padding: 20px 10px;
		gap: 20px;
	}
	.about-left h4 {
		font-size: 1.1em;
		font-weight: 600;
		color: var(--primary);
		text-transform: uppercase;
	}
	.about-left h2 {
		font-size: 2.2em;
		color: var(--dark);
	}

	.about-left p,
	.about-right p {
		font-size: 1em;
		line-height: 1.4em;

		letter-spacing: 1px;
		color: #7a8594;
	}
	.about-right h3 {
		margin-top: 1.5em;
		font-size: 2em;
		padding: 10px 0;
		color: #000000;
		font-weight: bold;
	}

	.about-right-icon {
		display: flex;
		align-items: center;
		gap: 2px;
	}

	.about-icon {
		width: 35px;
		height: 35px;
		margin-right: 3px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid 1px #64748b;

		fill: var(--secondary);
	}
	.about-icon:hover {
		border: #64748b;
		background-color: var(--primary);
		fill: var(--light);
	}

	.services {
		box-sizing: border-box;
		padding: 20px 0px;
		text-align: center;
	}

	.service-container {
		padding: 50px 0px;
		overflow-x: auto;
	}

	.prev,
	.next,
	.text {
		font-size: 11px;
	}
	.text {
		bottom: 8px;
	}

	.profile-container {
		flex-direction: column;
	}
	.item-right {
		flex-direction: row;
	}
	.item-right img {
		width: 40px;
	}

	.item-left {
		flex-direction: column;
	}

	.card-container {
		display: flex;
		flex-direction: column;
		height: 600px;
	}
	.group {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	.card {
		margin: 20px 0px;
		width: 500px;
		height: 65%;
		box-sizing: border-box;
	}

	.card-container .wrapping {
		margin: 40px 20px;
		padding: 10px 0px;
		display: flex;
		flex-direction: column;
		gap: 0px;
		color: var(--secondary);
	}

	.card-container .wrapping h2 {
		letter-spacing: 5px;
		font-size: 5.1vmin;
		white-space: nowrap;
	}
	.card-container .wrapping h3 {
		font-size: 1.5em;
	}
	.card-container .wrapping p {
		font-size: 17px;
		line-height: 1.5em;
		text-shadow: none;
	}
	.card .content p {
		font-size: 0.8em;
		color: var(--secondary);
	}
	.card .content h2 {
		color: var(--primary);
		font-size: 1.3em;
	}
	.arrow {
		display: flex;
		justify-content: start;
		padding-left: 40px;
		width: 100%;
		gap: 10px;
	}

	.slider {
		height: 100%;
	}

	.content-trusted {
		gap: 20px;
	}

	.accordion-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: column;
		padding: 20px;
	}
	.accordion {
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		height: auto;
		font-size: 2.6vmin;
	}
	.panel {
		width: 100%;
		padding: 0px 18px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
	.panel p {
		padding: 20px;
		line-height: 1em;
	}
	.right-image {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.right-image img {
		width: 190px;
		filter: drop-shadow(5px 5px 0.3em rgba(0, 0, 0, 0.447));
	}
	.footer-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		gap: 40px;
		padding: 80px 30px;
	}

	.group-article,
	.link-section,
	.person-info {
		padding: 0px;
	}
	.person-info h2::before {
		content: "";
		white-space: pre;
		border-left: 0px solid;
		border-color: transparent;
	}
}
